<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My app</title>

</head>
<body>
   <center <h1>My Daily check</h1></body></html></center>
    <form action="/insert" method="post">
        <input type="text" name="c_name">
        <button type="submit">Add</button>
    </form>
        recent task added: {{c_name}}
        <center><h1>Added Task</h1></center>
        {% for i in my_list %} 
        {{i.c_id}} | {{i.c_name}} <br>
        {% endfor %}
        <button type="submit">Delete</button>    
</body>
</html> 